<nav class="navbar navbar-default bg-light">
    <div class="container">
        <div class="navbar-header">
        <a href="header.html" class="navbar-brand"><i class="far fa-sticky-note fa-lg"></i> SakuSaku</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <ul class="nav navbar navbar-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <li class="ml-2"><button class="btn btn-outline-primary">My Note</button></li>
            <li class="ml-2"><button class="btn btn-outline-primary">Template</button></li>
            <li class="ml-2"><button class="btn btn-outline-primary">Logout</button></li>
            <li class="ml-2"><button class="btn btn-outline-primary">Login</button></li>
        </ul>
        </div>
    </div>
</nav>