<div id="main_new" class="container">
  <div class="row mt-4">
    <div class="col-md-12">
      <p class="h3">New<small class="text-muted"> </small></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="new-note card border-primary mb-3">
        <div class="card-body text-primary">
          <h5 class="card-title font-weight-bold">새 노트</h5>
          <p class="card-text">새 노트 작성을 시작!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="new-note card border-primary mb-3">
        <div class="card-body text-primary">
          <h5 class="card-title font-weight-bold">새 노트</h5>
          <p class="card-text">새 노트 작성을 시작!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="new-note card border-primary mb-3">
        <div class="card-body text-primary">
          <h5 class="card-title font-weight-bold">새 노트</h5>
          <p class="card-text">새 노트 작성을 시작!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-body text-primary d-flex align-items-center justify-content-center">
          <h5 class="card-text font-weight-bold">내 템플릿 더보기</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="main_recent" class="container">
  <div class="row mt-4">
    <div class="col-md-12">
      <p class="h3">Recent<small class="text-muted"> </small></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-body text-primary">
          <h5 class="card-title font-weight-bold">노트 제목</h5>
          <p class="card-text">소유자 / 카테고리</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-body text-primary">
          <h5 class="card-title font-weight-bold">노트 제목</h5>
          <p class="card-text">소유자 / 카테고리</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-body text-primary">
          <h5 class="card-title font-weight-bold">노트 제목</h5>
          <p class="card-text">소유자 / 카테고리</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-body text-primary d-flex align-items-center justify-content-center">
          <h5 class="card-text font-weight-bold">내 노트 더보기</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="main_new" class="container">
  <div class="row mt-4">
    <div class="col-md-12">
      <p class="h3">Popular Template<small class="text-muted"> </small></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-body text-primary">
          <h5 class="card-title font-weight-bold">노트 제목</h5>
          <p class="card-text">소유자 / 카테고리</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-body text-primary">
          <h5 class="card-title font-weight-bold">노트 제목</h5>
          <p class="card-text">소유자 / 카테고리</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-body text-primary">
          <h5 class="card-title font-weight-bold">노트 제목</h5>
          <p class="card-text">소유자 / 카테고리</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-body text-primary d-flex align-items-center justify-content-center">
          <h5 class="card-text font-weight-bold">템플릿 더보기</h5>
        </div>
      </div>
    </div>
  </div>
</div>