<div class="sidebar-menu">
  <ul>
    <li class="sidebarMenuBtn sidebarMenuBtn-folder"><i class="icon-folder-open-empty"></i></li>
    <li class="selected sidebarMenuBtn sidebarMenuBtn-text"><i class="icon-text-width"></i></li>
    <li class="sidebarMenuBtn sidebarMenuBtn-image"><i class="icon-picture"></i></li>
    <li class="sidebarMenuBtn sidebarMenuBtn-video"><i class="icon-video"></i></li>
    <li class="sidebarMenuBtn sidebarMenuBtn-table"><i class="icon-table"></i></li>
  </ul>
</div>
<div class="sidebar-wrap">
  <div class="sidebar-header">
    <div class="sidebar-header-btn sidebar-header-noteBtn selected">노트 폴더</div>
    <div class="sidebar-header-btn sidebar-header-templateBtn">템플릿 폴더</div>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-folder-wrap">
      <div class="scrollBar">
        <ul class="sidebar-folder-list">
          <li class="selected sidebar-item sidebar-folder">${folderName}</li>
          <li class="sidebar-item sidebar-folder">${folderName}</li>
        </ul>
      </div>
      <div class="sidebarBtn sidebar-folder-newBtn">+ New Folder</div>
    </div>
    <span class="sidebar-split"></span>
    <div class="sidebar-note-wrap">
      <div class="scrollBar">
        <ul class="sidebar-note-list">
          <li class="selected sidebar-item sidebar-note">선택된 아이</li>
          <li class="sidebar-item sidebar-note">${noteName}</li>
        </ul>
      </div>
      <div class="sidebarBtn sidebar-note-newBtn">+ New Note</div>
    </div>
    <span class="sidebar-split"></span>
  </div>
</div>