.note {
  position: fixed;
  left: 40px;
  width: calc(100vw - 40px); /* 전체 - left */
  min-height: calc(100vh - 40px); /* 전체 - header - note-info */
  background: var(--key6);
}
.note-nav {
  width: calc(100vw - 40px - 10px); /* 전체 - sidebar - margin */
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
  .note-nav ul li{
    display: inline-block;
  }
  .note-nave ul li .note-titleInput {
    margin: 10px;
  }
  .note-nav ul li .note-titleText {
    font-size: 18px;
  }
  .note-nav ul li .note-titleText:hover {
    color: var(--key2);  
    cursor: pointer;
  }
  .note-nav ul li input[type=button] {
    background: var(--key4);
    color: var(--key1);
    border: 0px;
  }
  .note-nav ul li input[type=button]:hover {
    background: var(--key5);
    color: var(--key1);
  }
  .note-nav ul li.note-userUid,
  .note-nav ul li.note-regDate {
      font-size: 12px;
  }

.note-nav-btn-wrap {
  margin-right: 10px;
}



/* 본문 작성 부분 */
.note-content {
  position: fixed;
  left: 40px;
  width: calc(100vw - 40px); /* 전체 - left */
  min-height: calc(100vh - 40px); /* 전체 - header - note-info */
}

